* { font-family: tahoma; }
#contents { max-width: 640px; margin: auto; margin-top: 106px; }
.align-center { display: flex; justify-content: center; align-items: center; }
.cover { background-image: url(/assets/images/cover.jpg); background-position: center; background-attachment: fixed; background-size: cover; height: 40vh; }
.title-image>img { border-radius: 50%; border: 5px solid #fff; width: 180px; transform: translateY(50%); }
.ig-card { min-height:100px; cursor: pointer; transition: transform 0.5s; }
.ig-card img { transform: scale(0.95, 0.95); border-radius: 0.3em; box-shadow: 1px 3px 4px grey; }
.ig-card:hover { position: relative; z-index: 10; box-shadow: 0 0 20px 8px gray; transform: scale(1.1, 1.1); }
.about #content, .policy #content { background: linear-gradient(to bottom, #9c27b0, #FF6B6B); height: 100vh; font-size: 18px; }
.about #content img, .policy #content img { transform: translateY(12%); }
.about #content .w3-card-4, .policy #content .w3-card-4{ max-width: 640px; margin: auto; position: relative; }
.about a, .policy a { text-decoration: none; }
.decoration { height: 4px; margin: 0; }
.contact .align-center { background: linear-gradient(to bottom, #9c27b0, #FF6B6B); height: 80vh; width: 100%; }
.contact #form-container { width: 640px; height: 388px; background-image: url(/assets/images/cover.jpg); }
@media screen and (max-width: 639px) { .contact #form-container { width: 320px; } }
.contact #form-container form { width: 320px; height: 388px; background: rgba( 255,255,255, 0.8 ); }

.banner {
	background-color: rgba(0,0,0,0.9);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
}

.banner-content {
	position: relative;
	z-index: 1001;
	max-width: 640px;
	margin: auto;
	background-color: #000000;
	color: #fff;
	padding: 16px;
	box-shadow: 0 0 10px 0 #fff;
	font-size: 20px;
	text-align: center;
}
.banner-content a { color: yellow; fill:yellow; }
body { overflow: hidden; height: 100vh; }